{% extends 'base.html' %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.pk}}번째 게시물</title>
</head>
<body>
{% block content %}
<div style="margin: 50px; padding: 10px;" class="card border-secondary">
    <h1>{{ post.title }}</h1>
    <hr>
    <div class="text-muted">
        <p>PostID # {{ post.pk }}</p>
        <p align="right">by {{ post.author }}</p>
        <p align="right">Posted on  {{ post.date}}</p>
    </div>
    <hr>
    <p>{{ post.body}}</p>
</div>
<div style="margin: 50px;">
    <!--삭제하기 버튼-->
    <button type='button' onclick='location.href="{% url "delete" post.pk %}"' class="btn btn-outline-info">삭제하기</button>
    <!--수정하기 버튼-->
    <button type='button' onclick='location.href="{% url "update" post.pk %}"' class="btn btn-outline-success">수정하기</button>
</div>
{% endblock content %}
</body>

</html>
