<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--for문을 이용하여 model post에 있는 모든 내용을 출력--> 
    <button type='button' onclick='location.href="{% url "create" %}"'>새글쓰기</button>
    {% for obj in posts.all %}  
    <h1>제목 : {{ obj.title }}</h1>
    <p>내용: {{ obj.body }}</p>
    <p>올린날짜: {{ obj.date }}</p>
    <a href="{% url 'detail' obj.pk %}">자세히 보기</a>
    {% endfor %%}
</body>
</html>